body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

header h1 {
  font-size: 5rem;
  font-weight: 800;
  cursor: default;
  pointer-events: none;
}

header p {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
}

#about {
  font-size: 1.15rem;
}

footer {
  font-size: 1.1rem;
  font-weight: 600;
}

footer a {
  font-weight: 700;
}

.skills h3{
  font-size: 1.75em;
}

#publication h3{
  font-size: 1.75em;
}
